{% extends 'Proyectowebapp/base.html' %}
{% load static %}
{% block content %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'Proyectowebapp/img/foto.jpeg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Ingredientes de calidad</span>
            <span class="section-heading-lower">Las mejores pizzas</span>
          </h2>
          <p class="mb-3">Disfruta de nuestras pizzas deliciosas.
          
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Pizzas 100% caseras</span>
                <span class="section-heading-lower">Delizioso: Donde Cada Bocado es un Viaje a Italia</span>
              </h2>
              <p class="mb-0">Delizioso: donde la auténtica pasión italiana se fusiona con la creatividad en cada bocado. Desde nuestras pizzas gourmet personalizadas hasta nuestros menús diseñados con esmero, cada experiencia culinaria en "Delizioso" es una celebración de sabores frescos y momentos memorables. Sumérgete en la deliciosa simplicidad de la auténtica cocina italiana, donde la calidad y la creatividad se encuentran en cada rebanada.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


