{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Visualizar CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .content-container {
            background-color: white; 
            padding: 20px;
            text-align: center; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="content-container">
        <h1>Datos del archivo CSV</h1>
        {{ table_html | safe }}
    </div>
</body>
{% endblock %}
